{% extends "layout.html" %}
{% block head %}
{{ super() }}
{% endblock %}
{% block navbar %}
{{ super() }}
{% endblock %}
{% block body %}





<div class="container">
<br/>
<h3>About</h3>
<br/>
<p>This is a simple <a href="http://flask.pocoo.org/">Flask</a> wrapper on
    <a href="http://pypi.org/project/face_recognition/">face_recognition</a> library. Development in progress :)</p>
<p>Please visit a <a href="https://github.com/robotautas/fr">github repository</a> for details.</p>
</div>



{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock %}